{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'reporteApp/style.css' %}">


<div class="container">
  <form id="contact" method="post">
    {% csrf_token %}
    <h3>Filter Info</h3>
    <h4>Contact us for custom quote</h4>
    <fieldset>
      <label>Customer</label>
      <select name = 'customer' >
        {% if customers %}
          {% for customer in customers %}
        <option value={{customer.id}}>{{customer.name}}</option>
        {% endfor %}
        {% endif %}
      </select>
    </fieldset>
    <fieldset>
      <label>Filter by</label>
      <select name = 'filter_by'>
        <option value='email'>Email</option>
        <option value='date'>Date</option>
      </select>

    </fieldset>

    <fieldset>
      <label>Date Initial </label>
      <input type = 'date' name = 'initial_date'>
      <label>Finishied Date </label>
      <input type = 'date' name = 'final_date'>
    </fieldset>

    <fieldset>
      <label>Status Send </label>
       <select name ='status'>
        <option value='True'>True</option>
        <option value='False'>False</option>
      </select>
      <button class="btn btn-primary">Send</button>
    </fieldset>

  </form>
</div>
</body>
