<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h5 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('https://3er1viui9wo30pkxh1v2nh4w-wpengine.netdna-ssl.com/wp-content/uploads/prod/sites/68/2018/11/icons_blk_flatangle_00005.png');

        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
    <div class="w3-display-middle w3-jumbo">
        <p>logo</p>
    </div>
    <div class="w3-display-topleft w3-container w3-xlarge">
        <p>
            <button onclick="document.getElementById('customer').style.display='block'" class="w3-button w3-black">
                Create Customer
            </button>
        </p>
        <p>
            <button onclick="document.getElementById('file').style.display='block'" class="w3-button w3-black">
                Add File
            </button>
        </p>
        <p>
            <button onclick="document.getElementById('Filter').style.display='block'" class="w3-button w3-black">
                Filter
            </button>
        </p>
    </div>
    <div class="w3-display-bottomleft w3-container">

        <p>By.<a href="https://www.instagram.com/morenovelasqz/" target="_blank">Velasqz</a></p>
    </div>
</div>


<!-- Create Customer -->

<div class="container">
    <form id="contact" method="post">
        {% csrf_token %}
        <div id="customer" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-black">
            <span onclick="document.getElementById('customer').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
                    <h1>Customer</h1>
                </div>
                <div class="w3-container">
                    <form id="customer" method="post">
                        <fieldset>
                            <label>Name:</label>
                            <input class=type="text" placeholder="Name" required name="Name">

                        </fieldset>
                        <fieldset>
                            <label>Parser:</label>
                            <select name='filter_by'>
                                <option value=>...</option>
                                <option value='date'>Parser 1</option>
                                <option value='date'>Parcer 2</option>
                                <option value='date'>Parcer 3</option>
                                <option value='date'>Parcer 4</option>
                            </select>
                        </fieldset>
                        <button class="btn btn-primary" style="float: right">Send</button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Add File -->


        <div id="file" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-black w3-display-container">
            <span onclick="document.getElementById('file').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
                    <h1>Add File</h1>
                </div>
                <div class="w3-container">
                    <form id="file" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <label>Customer</label>
                            <select name='customer'>
                                {% if customers %}
                                    {% for customer in customers %}
                                        <option value={{ customer.id }}>{{ customer.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </fieldset>
                        <fieldset>
                            <label>Email id:</label>
                            <label><input class=type="text" placeholder="Id" required name="Name">
                            </label>
                        </fieldset>
                        <fieldset>
                            <label>Email Date:</label>
                            <input type='date' name='initial_date'>
                        </fieldset>
                        <fieldset>
                            <label>Status Send </label>
                            <select name='status'>
                                <option value=>...</option>
                                <option value='True'>Email</option>
                                <option value='False'>Web</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <label>Email Date </label>
                            <select name='status'>
                                <option value=>...</option>
                                <option value='True'>True</option>
                                <option value='False'>False</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="id_file_name">File</label>
                            <input type="file" name="file_name" multiple required id="id_file_name">
                        </fieldset>
                        <button class="btn btn-primary" style="float: right">Send</button>

                    </form>
                </div>
            </div>
        </div>


        <!-- Filter -->


        <div id="Filter" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-black">
            <span onclick="document.getElementById('Filter').style.display='none'"
                  class="w3-button w3-display-topright w3-large">x</span>
                    <h1>Filter Info</h1>
                </div>
                <div class="container">
                    <form id="filter_form" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <label>Customer</label>
                            <select name='customer'>
                                {% if customers %}
                                    {% for customer in customers %}
                                        <option value={{ customer.id }}>{{ customer.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </fieldset>
                        <fieldset>
                            <label>Filter by</label>
                            <select name='filter_by'>
                                <option value=>...</option>
                                <option value='email'>Email</option>
                                <option value='date'>Date</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label>Date Initial </label>
                            <input type='date' name='initial_date'>
                            <label>Finishied Date </label>
                            <input type='date' name='final_date'>
                        </fieldset>

                        <fieldset>
                            <label>Status Send </label>
                            <select name='status'>
                                <option value=>...</option>
                                <option value='True'>True</option>
                                <option value='False'>False</option>
                            </select>
                            <label>Send</label>
                            <button class="btn btn-primary" style="float: right">Send</button>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var filter = document.getElementById('filter_form')
    





</script>

</body>
</html>
